
      <!DOCTYPE html>
      <html>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <head>
            
	<style>
	.button {
  	background-color: #008CBA;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 18px;
  	margin: 4px 2px;
  	cursor: pointer;
	}
	</style>
	
              
         </head>
         <body>

              <p><p>
              <h1 style="text-align:center; font-size: 32px;"> Sankofa Social Community </h1>
              </p></p>
            
              <p>
              <h3 style="text-align:center; font-size: 18px;"> Devloped by Williams Obinkyereh </h3>
              </p>
             
              <P><center><iframe src="https://ghstats.com" width="100%" height="400" >
              <p>Your browser does not support iframes.</p>
              </iframe> </center></P>

              
              <p></p>
              <p><h1 style="text-align:center;"><p>
              
	     <P><center><a href="http://ghstats.com" class="button">Click to Join Sankofa community!</a></center></p>
	
             
 
        </body>
    </html>